<%- include('partials/header'); %>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui maiores tenetur architecto sequi voluptatibus id amet molestiae cum eveniet consequatur fugit, autem delectus provident inventore perferendis alias ipsa numquam corporis officiis. Veritatis doloremque ab voluptate dolor aspernatur ipsam maiores perspiciatis, debitis repellat odio explicabo pariatur nam quisquam officiis nostrum corporis eligendi quidem obcaecati asperiores cupiditate mollitia ea eum. Error eveniet, culpa harum facere minus cum sunt eaque. Dignissimos, hic, asperiores. Ipsum nulla, deleniti autem repudiandae, error unde nisi ut sequi magni quo odio, nobis. Obcaecati ad, enim id quis molestiae ipsum sint tempore culpa distinctio incidunt, quos quod reiciendis facilis.</p>

<%- include('partials/footer'); %>